<span style='color: #000' title='Frames'>    68</span><span style='color: #009' title='Memory'>   6400.00 KB</span><span style='color: #900' title='Time'>   1006.65 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />