/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2016, 9:37:06 AM
    Author     : jhonpc
*/

.maparea {
    width: 500px;
    height: 400px;
    left:150px;
    float: left;
  }
  
  

